.section-signin{
    width: 100%;
    height:95vh;
    background-image: url(../../img/loginBG.jpg);
    background-size: cover;
    background-position: center;
    &__text{
        color:$color-white;
        font-size:$default-font-size;
        //some problem coming Here
        a{
            color:$color-secondary;
            text-decoration: none; 
            margin-left:5rem;
            display: inline-block;
        }
        
        
    }
}
.signin-form{
    background-color:rgba($color-black,.8);
    margin-top: 5rem;
   
    width:50rem;
    border-radius: 3rem;
    @include absCenter;
    .yellow{
        color:$color-secondary;
        font-size:2rem;
    }
}