.signup-Details{
    width:100%;
    height:100vh;
    padding:15rem 10rem;
    background-image:url(../../img/signup.png) ;
    background-size: 50%;
    background-position: right top ;
    background-repeat: no-repeat;
    background-color: #BEC8CE;
}